// SPDX-License-Identifier: LGPL-3.0-or-later
// Loaded after native dark component rules; only Min's enabled night mode is affected.
@media screen {
    .o_web_client.o_min_theme[data-min-mode="dark"] {
        .o_main_navbar {
            background: var(--min-surface);
        }
        .o-mail-Discuss {
            --mail-Discuss-surface-dark: var(--min-surface);
        }
        .o-mail-Message-author {
            opacity: 1;
        }
        .o-mail-Message-date {
            color: var(--min-muted) !important;
            opacity: 1 !important;
        }
        .o-mail-DateSection .text-muted {
            opacity: 1 !important;
        }
        .o_kanban_counter.opacity-25 {
            opacity: .65 !important;
        }
        .o-mail-Composer-input::placeholder,
        .o-mail-Composer-html::placeholder {
            color: var(--min-muted);
            opacity: 1;
        }
    }
}
